<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.hit.tdxbackend.mapper.CategoryMapper">

    <resultMap id="category" type="edu.hit.tdxbackend.entity.Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="urlPath" column="url_path"/>
    </resultMap>

</mapper>